doctype html
html
	head
		title Smart Form Validator
		meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=Edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		link(rel="stylesheet", href="css/styles.css")
	body
		main.main
			section.section
				.container
					form.form.form-callback.js-modal-form-callback(action="" method="POST")
						.form__group
							.row
								.col.col-4
									.form__item
										input.form__control.form__input._required(autocomplete="off" type="text" name="name" _required value="" data-field="name")
										label.form__label Имя
										.form__error
								.col.col-4
									.form__item
										input.form__control.form__input._required(type="text" name="phone" _required value="" data-field="phone")
										label.form__label Телефон
										.form__error
								.col.col-4
									.form__item
										input.form__control.form__input._required(type="text" name="email" _required value="" data-field="email")
										label.form__label E-mail
										.form__error
						.form__group
							.row
								.col.col-6
									.form__item.form__item-checkbox
										input#is_agree.form__control._required(type="checkbox" name="is_agree" value="" data-field="checkbox")
										label(for="is_agree") я согласен
						.form__group.form__group-btn
							button.btn.js-form-submit(type="submit")
								span Отправить
		script(src="js/main.bundle.js")